/* * {
  margin: 0;
  padding: 0;
} */

.flex-container {
  padding-bottom: 10px;
  height: 40px;
  max-height: 40px;
  display: flex;
  flex-flow: nowrap;
  height: 35px;
  border-bottom: solid gray 1px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-width: 0.1px;
}

.category {
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-weight: 700;
}

.navimg {
  max-height: 30px;
  margin-left: 380px;
  margin-right: 300px;
}

.left-btn {
  background-color: rgb(86, 123, 149);
  color: white;
  height: 25px;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
}

.header {
  color: #666;
  margin-left: 260px;
  margin-top: 200px;
}

.headerText {
  color: #121212;
  font-family: nyt-cheltenham, georgia, 'times new roman', times, serif;
  font-weight: 700;
  font-style: italic;
  margin-left: 200px;
}

#header-image {
  width: 80%;
  margin: auto;
  /* width: 1000px;
  height: 550px; */
}
.display-grid{
  display: grid;
}
.icons-first {
  align-items: flex-end;
  margin-left: auto;
  display: flex;
}
.icons-first a{
  margin-left: 10px;
}
.container {
  margin-left: 420px;
  margin-right: 420px;
  margin-top: 60px;
  font-family: nyt-imperial, georgia, 'times new roman', times, serif;
}

.embed {
  width: 700px;
  height: 400px;
}

.img-img {
  width: 600px;
  height: 400px;
}

.images-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-top: 20px;
}

.images-container div {
  width: 200px;
  height: 400px;
}

.images-container img {
  width: 200px;
  height: auto;
}

.images-container span {
  font-weight: bold;
}

.footnote {
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-size: 0.75rem;
  color: rgb(102, 102, 102);
}
.nav-btn button {
  background-color: #326891;
  height: 35px;
  border: none;
  border-radius: 3px;

}

.nav-btn {
  white-space: nowrap;
  padding-left: 20px;
}

.icons {
  white-space: nowrap;
  padding-right: 20px;
}

.icons span {
  margin-right: 30px;
}
